.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.restaurantes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px
}

.restaurant-item {
  width: 40vw;
  border: solid;
  margin: 10px;
  border-width: 2px;
  border-radius: 20px;

}

.restaurant-item img {
  height: 100px;
  width: auto;
  margin-top: 20px;
}

.nuevo-restaurante {
  margin: 30px;
}

.btn-rest-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}